.App {
  display: flex;
  background-color: aquamarine;
  text-align: center;
}
.leyenda {
  display: flex;
}
.pokemonANDbutton {
  display: flex;
}
.pokemon {
  display: flex;
}
.button {
  display: flex;
  justify-content:flex-end;
  margin:50px;
}

