.App {
  display: flex;
  background-color: aquamarine;
  text-align: center;
  width: 100%;
  height: 100%;
  flex-direction:column
}
.leyenda {
  display: flex;
}
.pokemonANDbutton {
  display: flex;
}
.contenedor {
  display: flex;
}
.button {
  display: flex;
}

